<style>
  .campoErro {
    border-color: red;
  }
</style>

<script src="/js/Hospedes/criar.js"></script>
<script src="/js/Hospedes/script.js"></script>

<div class="container-fluid mt-5 py-5">
  <div class="col-12">
    <div class="card border shadow-xs mb-4">
      <div class="card-header border-bottom pb-0">
        <div class="d-sm-flex align-items-center">
          <div>
            <h6 class="font-weight-semibold text-lg mb-0">Cadastrar hóspede</h6>
            <p class="text-sm">Insira abaixo os dados do hóspede</p>
          </div>
          <div class="ms-auto d-flex">
            <button
              type="button"
              class="btn btn-sm btn-dark btn-icon d-flex align-items-center me-2"
            >
              <span class="btn-inner--icon">
                <svg
                  width="16"
                  height="16"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="d-block me-2"
                >
                  <path
                    d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"
                  />
                </svg>
              </span>
              <span class="btn-inner--text" id="btnGravarHospede"
                >Cadastrar</span
              >
            </button>
          </div>
        </div>
      </div>

      <div class="card-body px-3 py-3">
        <form id="form">
          <div class="form-group">
            <label for="Nome">Nome completo*</label>
            <input type="text" name="Nome" id="Nome" class="form-control" />
          </div>
          <div class="form-group">
            <label for="nasc">Data de nascimento*</label>
            <input type="date" name="nasc" id="nasc" class="form-control" />
          </div>
          <div class="form-group">
            <label for="CPF">CPF*</label>
            <input
              type="text"
              name="CPF"
              id="CPF"
              maxlength="14"
              oninput="mascaraCPF()"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="CEP">CEP*</label>
            <input
              type="text"
              name="CEP"
              id="CEP"
              maxlength="9"
              oninput="mascaraCEP()"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="checkin">Check-in*</label>
            <input
              type="date"
              name="checkin"
              id="checkin"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="checkout">Checkout*</label>
            <input
              type="date"
              name="checkout"
              id="checkout"
              class="form-control"
            />
          </div>
          <span id="erro"></span>
        </form>
      </div>
    </div>
  </div>
</div>
